body {
  padding: 5% 10%;
  font-size: 2rem;
  font-family: sans-serif;
}

ol {
  list-style-type: lower-alpha;
  padding: 0;
}

ul {
  list-style-type: square;
  color: blue;
}

ul li:nth-child(even) {
  color: red;
}

ul ::marker {
  color: aqua;
  content: "Only $5 >>";
}
